.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Varian Data and Code
*.lnk
/*.pdf
*.csv
*.txt
*.Rt
*.png
Exercises/*.pdf
Exercises/Solution 2/HMDA
Exercises/Solution 2/Titanic
Exercises/Solution 1/*.pdf
*.log
*.out
*.aux
*.synctex.gz